<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>

</head>
<body>

<h1 style="text-align: center" > Product List </h1>

<style>
    #line_block {
        width: 200px;
        height: 220px;
        background: #d0d0d0;
        float: left;
        margin: 1% 15px 15px 0;
        text-align: center;
        padding: 10px;
    }
</style>

<form style="text-align: center"  action="/page2">
  <button class="button" type="submit"> Product Add</button>
</form>
<br>
<div style="width:100%;
border-top:3px solid #9EC1D4;
border-bottom: 3px solid #9EC1D4;"/>
<br><br>
<div style="width:100%; height:1px; clear:both;"></div>
<div id="line_block" th:each="el : ${products}">
  <h3 th:text="'SCU:  ' + ${el.scu}"/>
  <p th:text="${el.productName}"/>
  <p th:text="'Price:   ' + ${el.price} + '$'"/>
  <p th:text="${el.productType}"/>
  <p th:text="${el.parameterValue} + ' ' +  ${el.productParameters} "/>


  <form th:action="'/page2/'+ ${el.id} +'/remove'" method="post">
    <button type="submit">Delete</button>
  </form>
</div>
<div style="width:100%; height:1px; clear:both;"></div>




</body>
</html>